# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Unit test / coverage reports & logs
.pytest_cache/
.coverage
htmlcov/
*.log


# Environment Variables & Secrets
.env
.env.local

# IDE & Editor configs
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
